
@font-face {
    font-family: 'MyWebFont';
    src: url('http://127.0.0.1/Mini_Project_G4/Font/SukhumvitxSFPro/SukhumvitSet-Bold.ttf');
    s

}
html {

    font-family: 'MyWebFont' !important;
    
}
body{
    font-family: 'MyWebFont'!important;

}
