.typography-caption {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(ar) {
    line-height: 1.66667;
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(ja) {
    line-height: 1.41667;
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(ko) {
    line-height: 1.41667;
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(zh) {
    letter-spacing: 0em;
}

.typography-caption:lang(th) {
    line-height: 1.33337;
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-caption:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline {
    font-size: 64px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.00058em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(ko) {
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(zh) {
    letter-spacing: 0em;
}

.typography-compare-section-headline:lang(th) {
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-headline:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media only screen and (max-width: 1068px) {
    .typography-compare-section-headline {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(ar) {
        line-height: 1.3;
        font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(ja) {
        line-height: 1.175;
        font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(ko) {
        line-height: 1.2;
        font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(th) {
        line-height: 1.35;
        font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-CN) {
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-HK) {
        font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-MO) {
        font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-TW) {
        font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
}

@media only screen and (max-width: 734px) {
    .typography-compare-section-headline {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: 0.00013em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(ar) {
        font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(ja) {
        font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(ko) {
        font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(th) {
        font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-CN) {
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-HK) {
        font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-MO) {
        font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-headline:lang(zh-TW) {
        font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
}

.typography-compare-price {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(ko) {
    line-height: 1.35296;
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(zh) {
    letter-spacing: 0em;
}

.typography-compare-price:lang(th) {
    line-height: 1.35296;
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-price:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(ar) {
    line-height: 1.52381;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(ja) {
    line-height: 1.4286;
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(ko) {
    line-height: 1.52381;
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(th) {
    line-height: 1.381;
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-section-cta:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media only screen and (max-width: 734px) {
    .typography-compare-section-cta {
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -0.022em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(ar) {
        line-height: 1.58824;
        letter-spacing: 0em;
        font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(ja) {
        letter-spacing: 0em;
        font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(ko) {
        line-height: 1.58824;
        letter-spacing: 0em;
        font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(zh) {
        letter-spacing: 0em;
    }
    .typography-compare-section-cta:lang(th) {
        line-height: 1.35296;
        letter-spacing: 0em;
        font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(zh-CN) {
        font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(zh-HK) {
        font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(zh-MO) {
        font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-section-cta:lang(zh-TW) {
        font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
}

.typography-compare-device-headline {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(ar) {
    line-height: 1.33341;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(ja) {
    line-height: 1.25;
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(ko) {
    line-height: 1.29167;
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(th) {
    line-height: 1.375;
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-device-headline:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media only screen and (max-width: 1068px) {
    .typography-compare-device-headline {
        font-size: 21px;
        line-height: 1.19048;
        font-weight: 600;
        letter-spacing: 0.011em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(ja) {
        line-height: 1.2381;
        font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(ko) {
        line-height: 1.2858;
        font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(th) {
        line-height: 1.381;
        font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(ar) {
        font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(zh-CN) {
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(zh-HK) {
        font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(zh-MO) {
        font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .typography-compare-device-headline:lang(zh-TW) {
        font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
}

.typography-compare-grid-headline {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(ar) {
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(ja) {
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(ko) {
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(th) {
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-grid-headline:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(ar) {
    line-height: 1.57143;
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(ko) {
    line-height: 1.57143;
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(zh) {
    letter-spacing: 0em;
}

.typography-compare-copy:lang(th) {
    line-height: 1.35718;
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-copy:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge {
    font-size: 42px;
    line-height: 1.04762;
    font-weight: 500;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(ar) {
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(ja) {
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(ko) {
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(th) {
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typography-compare-badge:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

[class*="typography-eyebrow"] {
    display: block;
    margin-bottom: 0.4em;
}

[class*="typography-eyebrow"]+* {
    margin-top: 0;
}

.typography-headline+.typography-intro {
    margin-top: 1.2em;
}

.typography-headline-super+.typography-intro-elevated {
    margin-top: 1.6em;
}

.typography-headline-elevated+.typography-intro-elevated {
    margin-top: 1.4em;
}

.typography-headline-reduced+p,
.typography-headline-reduced+ul,
.typography-headline-reduced+.typography-body {
    margin-top: 1em;
}

:root {
    --shared-compare-min-width-medium: 800px;
}

.compare-module-wrapper {
    text-align: center;
}

@media only screen and (min-width: 735px) and (max-width: 1068px) and (min-width: 800px) {
    .compare-module-wrapper {
        max-width: 850px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
    }
}

.compare-module-wrapper .device-content {
    padding-top: 50px;
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .device-content {
        padding-top: 29px;
    }
}

.compare-module-wrapper .airpods-3rd-gen .device-content {
    padding-top: 34px;
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .airpods-3rd-gen .device-content {
        padding-top: 13px;
    }
}

.compare-module-wrapper .compare-module-cta {
    margin-top: 40px;
}

.compare-module-wrapper .feature-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .compare-module-wrapper .feature-wrapper {
        min-width: 160px;
    }
}

.compare-module-wrapper .inline-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.compare-module-wrapper .image-compare-icon {
    margin-bottom: 9px;
}

.compare-module-wrapper .image-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 235px;
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .image-wrap {
        height: 132px;
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper .image-wrap {
        height: 149px;
    }
}

.compare-module-wrapper .image-airpods-2nd-gen {
    width: 120px;
    height: 159px;
    background-size: 120px 159px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_2nd_gen__fw52r8rxrpyu_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-2nd-gen {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_2nd_gen__fw52r8rxrpyu_large_2x.png");
    }
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .image-airpods-2nd-gen {
        width: 99px;
        height: 130px;
        background-size: 99px 130px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_2nd_gen__fw52r8rxrpyu_medium.png");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-2nd-gen {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_2nd_gen__fw52r8rxrpyu_medium_2x.png");
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper .image-airpods-2nd-gen {
        width: 87px;
        height: 115px;
        background-size: 87px 115px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_2nd_gen__fw52r8rxrpyu_small.png");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-2nd-gen {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_2nd_gen__fw52r8rxrpyu_small_2x.png");
    }
}

.compare-module-wrapper .image-airpods-3rd-gen {
    width: 149px;
    height: 144px;
    background-size: 149px 144px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_3rd_gen__dyuzfy04ht0m_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-3rd-gen {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_3rd_gen__dyuzfy04ht0m_large_2x.png");
    }
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .image-airpods-3rd-gen {
        width: 113px;
        height: 110px;
        background-size: 113px 110px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_3rd_gen__dyuzfy04ht0m_medium.png");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-3rd-gen {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_3rd_gen__dyuzfy04ht0m_medium_2x.png");
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper .image-airpods-3rd-gen {
        width: 108px;
        height: 104px;
        background-size: 108px 104px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_3rd_gen__dyuzfy04ht0m_small.png");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-3rd-gen {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_3rd_gen__dyuzfy04ht0m_small_2x.png");
    }
}

.compare-module-wrapper .image-airpods-pro {
    width: 165px;
    height: 140px;
    background-size: 165px 140px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_pro__e9uzt0mzviem_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-pro {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_pro__e9uzt0mzviem_large_2x.png");
    }
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .image-airpods-pro {
        width: 111px;
        height: 95px;
        background-size: 111px 95px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_pro__e9uzt0mzviem_medium.png");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-pro {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_pro__e9uzt0mzviem_medium_2x.png");
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper .image-airpods-pro {
        width: 120px;
        height: 102px;
        background-size: 120px 102px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_pro__e9uzt0mzviem_small.png");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-pro {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_pro__e9uzt0mzviem_small_2x.png");
    }
}

.compare-module-wrapper .image-airpods-max {
    width: 212px;
    height: 235px;
    background-size: 212px 235px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_max__b14s2x6q07rm_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-max {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_max__b14s2x6q07rm_large_2x.png");
    }
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .image-airpods-max {
        width: 119px;
        height: 132px;
        background-size: 119px 132px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_max__b14s2x6q07rm_medium.png");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-max {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_max__b14s2x6q07rm_medium_2x.png");
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper .image-airpods-max {
        width: 135px;
        height: 149px;
        background-size: 135px 149px;
        background-repeat: no-repeat;
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_max__b14s2x6q07rm_small.png");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .compare-module-wrapper .image-airpods-max {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/compare_airpods_max__b14s2x6q07rm_small_2x.png");
    }
}

.compare-module-wrapper .image-spatial-audio {
    width: 40px;
    height: 38px;
    background-size: 40px 38px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_spatial_audio__kmoa5vlnkdmm_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-spatial-audio {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_spatial_audio__kmoa5vlnkdmm_large_2x.png");
    }
}

.compare-module-wrapper .image-transparency {
    width: 26px;
    height: 34px;
    background-size: 26px 34px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_transparency__fdepuo39ruum_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-transparency {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_transparency__fdepuo39ruum_large_2x.png");
    }
}

.compare-module-wrapper .image-sweat-and-water {
    width: 28px;
    height: 41px;
    background-size: 28px 41px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_water_resistent__6yj92ikcoiaa_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-sweat-and-water {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_water_resistent__6yj92ikcoiaa_large_2x.png");
    }
}

.compare-module-wrapper .image-anc {
    width: 26px;
    height: 34px;
    background-size: 26px 34px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_noise_cancellation__dte2s5scoscy_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-anc {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_noise_cancellation__dte2s5scoscy_large_2x.png");
    }
}

.compare-module-wrapper .image-charging {
    width: 31px;
    height: 48px;
    background-size: 31px 48px;
    background-repeat: no-repeat;
    background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_wireless_charging__e0t56m5mbxci_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .compare-module-wrapper .image-charging {
        background-image: url("http://localhost/MINI_PROJECT_G4/images/airpods/icon_wireless_charging__e0t56m5mbxci_large_2x.png");
    }
}

.compare-module-wrapper .icon-arkit::before,
.compare-module-wrapper .icon-arkit::after {
    font-family: "SF Pro Icons";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: "";
}

.compare-module-wrapper .icon-arkit::before,
.compare-module-wrapper .icon-arkit::after {
    text-decoration: none;
}

.compare-module-wrapper .icon-arkit::before {
    display: none;
}

.compare-module-wrapper .icon-arkit::before,
.compare-module-wrapper .icon-arkit::after {
    content: "";
}

.compare-module-wrapper .airpods-2nd-gen.device {
    grid-area: airpods-2nd-gen-device;
}

.compare-module-wrapper .airpods-2nd-gen.spatial-audio {
    grid-area: airpods-2nd-gen-spatial-audio;
}

.compare-module-wrapper .airpods-2nd-gen.anc-transparency {
    grid-area: airpods-2nd-gen-anc-transparency;
}

.compare-module-wrapper .airpods-2nd-gen.sweat-and-water {
    grid-area: airpods-2nd-gen-sweat-and-water;
}

.compare-module-wrapper .airpods-2nd-gen.charging {
    grid-area: airpods-2nd-gen-charging;
}

.compare-module-wrapper .airpods-2nd-gen.single-charge {
    grid-area: airpods-2nd-gen-single-charge;
}

.compare-module-wrapper .airpods-3rd-gen.device {
    grid-area: airpods-3rd-gen-device;
}

.compare-module-wrapper .airpods-3rd-gen.spatial-audio {
    grid-area: airpods-3rd-gen-spatial-audio;
}

.compare-module-wrapper .airpods-3rd-gen.anc-transparency {
    grid-area: airpods-3rd-gen-anc-transparency;
}

.compare-module-wrapper .airpods-3rd-gen.sweat-and-water {
    grid-area: airpods-3rd-gen-sweat-and-water;
}

.compare-module-wrapper .airpods-3rd-gen.charging {
    grid-area: airpods-3rd-gen-charging;
}

.compare-module-wrapper .airpods-3rd-gen.single-charge {
    grid-area: airpods-3rd-gen-single-charge;
}

.compare-module-wrapper .airpods-pro.device {
    grid-area: airpods-pro-device;
}

.compare-module-wrapper .airpods-pro.spatial-audio {
    grid-area: airpods-pro-spatial-audio;
}

.compare-module-wrapper .airpods-pro.anc-transparency {
    grid-area: airpods-pro-anc-transparency;
}

.compare-module-wrapper .airpods-pro.sweat-and-water {
    grid-area: airpods-pro-sweat-and-water;
}

.compare-module-wrapper .airpods-pro.charging {
    grid-area: airpods-pro-charging;
}

.compare-module-wrapper .airpods-pro.single-charge {
    grid-area: airpods-pro-single-charge;
}

.compare-module-wrapper .airpods-max.device {
    grid-area: airpods-max-device;
}

.compare-module-wrapper .airpods-max.spatial-audio {
    grid-area: airpods-max-spatial-audio;
}

.compare-module-wrapper .airpods-max.anc-transparency {
    grid-area: airpods-max-anc-transparency;
}

.compare-module-wrapper .airpods-max.sweat-and-water {
    grid-area: airpods-max-sweat-and-water;
}

.compare-module-wrapper .airpods-max.charging {
    grid-area: airpods-max-charging;
}

.compare-module-wrapper .airpods-max.single-charge {
    grid-area: airpods-max-single-charge;
}

.compare-module-wrapper .compare-grid {
    margin-top: 18px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 53px;
    grid-column-gap: 34px;
    grid-template-areas: "airpods-2nd-gen-device airpods-3rd-gen-device airpods-pro-device airpods-max-device" "airpods-2nd-gen-spatial-audio airpods-3rd-gen-spatial-audio airpods-pro-spatial-audio airpods-max-spatial-audio" "airpods-2nd-gen-anc-transparency airpods-3rd-gen-anc-transparency airpods-pro-anc-transparency airpods-max-anc-transparency" "airpods-2nd-gen-sweat-and-water airpods-3rd-gen-sweat-and-water airpods-pro-sweat-and-water airpods-max-sweat-and-water" "airpods-2nd-gen-charging airpods-3rd-gen-charging airpods-pro-charging airpods-max-charging" "airpods-2nd-gen-single-charge airpods-3rd-gen-single-charge airpods-pro-single-charge airpods-max-single-charge";
}

@media only screen and (max-width: 800px) {
    .compare-module-wrapper .compare-grid {
        margin-top: 92px;
        max-width: 500px;
        grid-column-gap: 78px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, auto);
        grid-template-areas: "airpods-2nd-gen-device airpods-3rd-gen-device" "airpods-2nd-gen-spatial-audio airpods-3rd-gen-spatial-audio" "airpods-2nd-gen-anc-transparency airpods-3rd-gen-anc-transparency" "airpods-2nd-gen-sweat-and-water airpods-3rd-gen-sweat-and-water" "airpods-2nd-gen-charging airpods-3rd-gen-charging" "airpods-2nd-gen-single-charge airpods-3rd-gen-single-charge" "airpods-pro-device airpods-max-device" "airpods-pro-spatial-audio airpods-max-spatial-audio" "airpods-pro-anc-transparency airpods-max-anc-transparency" "airpods-pro-sweat-and-water airpods-max-sweat-and-water" "airpods-pro-charging airpods-max-charging" "airpods-pro-single-charge airpods-max-single-charge";
    }
}

@media only screen and (max-width: 734px) {
    .compare-module-wrapper .compare-grid {
        margin-top: 18px;
        grid-column-gap: 10px;
        grid-row-gap: 38px;
    }
}

@media only screen and (max-width: 374px) {
    .compare-module-wrapper .compare-grid {
        max-width: 280px;
    }
}

.compare-module-wrapper .compare-grid .row {
    justify-content: center;
    align-items: center;
}

.compare-module-wrapper .compare-grid .row.charging {
    align-items: flex-start;
}

.compare-module-wrapper .compare-grid .compare-badge {
    width: 85%;
    padding-bottom: 45px;
}

@media only screen and (max-width: 1068px) {
    .compare-module-wrapper .compare-grid .compare-badge {
        padding-bottom: 29px;
    }
}

.compare-module-wrapper .compare-grid .device {
    padding-bottom: 25px;
    margin-bottom: 2px;
    border-bottom: 1px solid #d2d2d7;
}

.compare-module-wrapper .compare-grid .single-charge {
    border-bottom: 1px solid #d2d2d7;
}

.compare-module-wrapper .compare-grid .subhead {
    margin-top: 0;
    display: block;
}

.compare-module-wrapper .compare-grid .new-violator {
    display: block;
    color: #bf4800;
}

.compare-module-wrapper .compare-quicklook-component {
    display: none;
}

html.quicklook .compare-module-wrapper .compare-quicklook-component,
html.quick-look .compare-module-wrapper .compare-quicklook-component,
html.quicklook .compare-module-wrapper .compare-quicklook-component,
html.quick-look .compare-module-wrapper .compare-quicklook-component {
    display: block;
}

html.quicklook .compare-module-wrapper .compare-quicklook-component img,
html.quick-look .compare-module-wrapper .compare-quicklook-component img,
html.quicklook .compare-module-wrapper .compare-quicklook-component img,
html.quick-look .compare-module-wrapper .compare-quicklook-component img {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

html.quicklook .compare-module-wrapper .compare-quicklook-component .visuallyhidden,
html.quick-look .compare-module-wrapper .compare-quicklook-component .visuallyhidden,
html.quicklook .compare-module-wrapper .compare-quicklook-component .visuallyhidden,
html.quick-look .compare-module-wrapper .compare-quicklook-component .visuallyhidden {
    display: inline-block;
    position: absolute;
}

.current-airpods-2nd-gen .compare-grid .airpods-2nd-gen .device-content .learn-more,
.current-airpods-2nd-gen-specs .compare-grid .airpods-2nd-gen .device-content .learn-more {
    visibility: hidden;
}

.current-airpods-3rd-gen .compare-grid .airpods-3rd-gen .device-content .learn-more,
.current-airpods-3rd-gen-specs .compare-grid .airpods-3rd-gen .device-content .learn-more {
    visibility: hidden;
}

.current-airpods-pro .compare-grid .airpods-pro .device-content .learn-more,
.current-airpods-pro-specs .compare-grid .airpods-pro .device-content .learn-more {
    visibility: hidden;
}

.current-airpods-max .compare-grid .airpods-max .device-content .learn-more,
.current-airpods-max-specs .compare-grid .airpods-max .device-content .learn-more {
    visibility: hidden;
}

.compare-module-wrapper .footnote {
    display: none;
}

.current-airpods .footnote.footnote-airpods {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-2nd-gen .footnote.footnote-airpods-2nd-gen {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-2nd-gen-specs .footnote.footnote-airpods-2nd-gen-specs {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-3rd-gen .footnote.footnote-airpods-3rd-gen {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-3rd-gen-specs .footnote.footnote-airpods-3rd-gen-specs {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-pro .footnote.footnote-airpods-pro {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-pro-specs .footnote.footnote-airpods-pro-specs {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-max .footnote.footnote-airpods-max {
    display: inline;
    margin-left: -0.2em;
}

.current-airpods-max-specs .footnote.footnote-airpods-max-specs {
    display: inline;
    margin-left: -0.2em;
}

.compare-module-wrapper [data-pricing-product] {
    display: none;
}

.compare-module-wrapper [data-pricing-product][data-pricing-loaded] {
    display: block;
}