/* Holiday 2021 tile */

.section-holiday-2021 .section-content .holiday-2021.tile-holiday-2021-gift-yourself .holiday-2021-image {
    background-image: url("/th/airpods/images/overview/holiday-2021/aos_holiday_gy_airpods_family_hero__cvdq0zhjyca6_large.jpg");
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
    .section-holiday-2021 .section-content .holiday-2021.tile-holiday-2021-gift-yourself .holiday-2021-image {
        background-image: url("/th/airpods/images/overview/holiday-2021/aos_holiday_gy_airpods_family_hero__cvdq0zhjyca6_large_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .section-holiday-2021 .section-content .holiday-2021.tile-holiday-2021-gift-yourself .holiday-2021-image {
        background-image: url("/th/airpods/images/overview/holiday-2021/aos_holiday_gy_airpods_family_hero__cvdq0zhjyca6_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-holiday-2021 .section-content .holiday-2021.tile-holiday-2021-gift-yourself .holiday-2021-image {
        background-image: url("/th/airpods/images/overview/holiday-2021/aos_holiday_gy_airpods_family_hero__cvdq0zhjyca6_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-holiday-2021 .section-content .holiday-2021.tile-holiday-2021-gift-yourself .holiday-2021-image {
        background-image: url("/th/airpods/images/overview/holiday-2021/aos_holiday_gy_airpods_family_hero__cvdq0zhjyca6_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-holiday-2021 .section-content .holiday-2021.tile-holiday-2021-gift-yourself .holiday-2021-image {
        background-image: url("/th/airpods/images/overview/holiday-2021/aos_holiday_gy_airpods_family_hero__cvdq0zhjyca6_small_2x.jpg");
    }
}